body {
  font-family: 'Protest Strike', sans-serif;
  background-image: url('/bg4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height:100vh;
}
.blurred-background {
  position: fixed; /* Fixed position to cover the whole viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Full height of the viewport */
  background-image: url('/bg4.jpg'); /* Background image */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the background */
  filter: blur(3px); /* Adjust the blur intensity */
  z-index: -1; /* Ensure it is behind other content */
}